
.ipynb_checkpoints/algebra_cohomology-checkpoint.ipynb
.ipynb_checkpoints/Normalization Condition-checkpoint.ipynb
coboundary_dict_m6.txt
coboundary_dict_m5.txt
coboundary_dict_m4.txt
coboundary_image_basis_m3.txt
.ipynb_checkpoints/helpers-checkpoint.ipynb
.ipynb_checkpoints/cochain_complex-checkpoint.ipynb
.ipynb_checkpoints/T_symb-checkpoint.ipynb
.ipynb_checkpoints/test_suite-checkpoint.ipynb
.DS_Store
.DS_Store
.DS_Store
.DS_Store
